**
!pyproject.toml
!uv.lock
!action/
!action/Dockerfile
!action/entrypoint.py
!packages/
!packages/attest-core/
!packages/attest-core/LICENSE
!packages/attest-core/README.md
!packages/attest-core/pyproject.toml
!packages/attest-core/src/
!packages/attest-core/src/**
!packages/attest-collect/
!packages/attest-collect/LICENSE
!packages/attest-collect/README.md
!packages/attest-collect/pyproject.toml
!packages/attest-collect/src/
!packages/attest-collect/src/**
!packages/attest-sign/
!packages/attest-sign/LICENSE
!packages/attest-sign/README.md
!packages/attest-sign/pyproject.toml
!packages/attest-sign/src/
!packages/attest-sign/src/**
!packages/attest-store/
!packages/attest-store/LICENSE
!packages/attest-store/README.md
!packages/attest-store/pyproject.toml
!packages/attest-store/src/
!packages/attest-store/src/**
!packages/attest-policy/
!packages/attest-policy/LICENSE
!packages/attest-policy/README.md
!packages/attest-policy/pyproject.toml
!packages/attest-policy/src/
!packages/attest-policy/src/**
!packages/attest-cli/
!packages/attest-cli/LICENSE
!packages/attest-cli/README.md
!packages/attest-cli/pyproject.toml
!packages/attest-cli/src/
!packages/attest-cli/src/**
**/__pycache__/
**/*.pyc
